{% extends 'base.html' %}
{% block title %}Update Event{% endblock %}
{% block content %}
	{% if user.is_anonymous == False %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Update Event</h1>
				{% if error == True %}
					<p class="text-danger">Event not found</p>
				{% endif %}	
				<form action="{% url 'django_practice:update_event' eventitem_id %}" method="post">
					{% csrf_token %}

					<div class="mb-3">
						<label for="event_name">Event Name:</label>
						<input class="form-control" id="event_name" type="text" name="event_name" value="{{ event_name }}" maxlength="50" required>
					</div>

					<div class="mb-3">
						<label for="description">Description:</label>
						<textarea class="form-control" name="description" value="{{ description }}"required></textarea>
					</div>

					<div class="mb-3">
						<label for="status">Status:</label>
						<input class="form-control" id="status" type="text" name="status" value="{{ status }}" maxlength="50" required>
					</div>
					<!-- <div class="mb-3">
						<label for="date_input">Date:</label>
						<input class="form-control" id="date_input" type="date"name="date_input" value="{{ date_input }}"required></input>
					</div> -->

					<div class="text-center">
						<input class="btn btn-success" type="submit" value="Update Event">
					</div>

				</form>
			</div>
		</div>
	</div>
	{% else %}
		<h1 class="text-center my-3">You are not authorized to enter this page.</h1>
		<p class="text-center">Kindly login <a href="{% url 'django_practice:login' %}"> here</p>
	{% endif %}
{% endblock %}

